include ../partials/mixins
<!DOCTYPE html>
html(lang="en")
    include ../partials/head.pug
    body
      include ../partials/navbar.pug
      include ../partials/header.pug
      block content
      //- section
        
        //- ul
        //-   for user in users
        //-     li=user
      block more_content